<div class="container mx-auto text-left">
    <h1 class="rotating-text text-left">
      Find your perfect 
      fit. <br /><span class="nowrap"> Subtly Coutuered 
        <br />
        <span class="window">
          <div class="window-inner">
            <span>TRUST.<br /></span>
            <span>CAPS.<br /></span>
            <span>SHIRTS.<br /></span>
            <span>TSHIRTS.<br /></span>
            <span>KURTAS.<br /></span>
            <span>TRUST.<br /></span>
          </div>
        </span>
      </span>
    </h1>
  </div>