  <div class="card-container">

    <app-flashcard
      title="Pants"
      about="Sharp fits for everyday confidence."
      link="https://cdn.pixabay.com/photo/2016/03/31/19/24/clothes-1294974_1280.png"
      linker="/filter/pants"
      (cardClick)="onCategoryClick($event)">
    </app-flashcard>
  
    <app-flashcard
      title="Tshirts"
      about="Make everyday fashionable."
      link="https://cdn.pixabay.com/photo/2013/07/12/18/22/t-shirt-153368_1280.png"
      linker="/filter/tshirts"
      (cardClick)="onCategoryClick($event)">
    </app-flashcard>
  
    <app-flashcard
      title="Kurtas"
      about="Live the culture, Tailored Ethnics just for you."
      link="https://cdn.pixabay.com/photo/2021/05/25/02/16/om-6281091_1280.png"
      linker="/filter/kurtas"
      (cardClick)="onCategoryClick($event)">
    </app-flashcard>
  
    <app-flashcard
      title="Caps"
      about="Wear your choice everyday, Top it of with altitude."
      link="https://cdn.pixabay.com/photo/2020/08/17/18/57/hat-5496219_1280.png"
      linker="/filter/caps"
      (cardClick)="onCategoryClick($event)">
    </app-flashcard>
  
  </div>
  