.card-container{
    display: flex;
    flex-direction: row;      /* horizontal */
    gap: 2rem;                /* space between cards */
    justify-content: center;  /* center horizontally */
    align-items: stretch;     /* equal height */
    flex-wrap: wrap;   
    margin-top: 250px;
}