#vanta-bg {
    position: fixed;
    inset: 0;
    /* z-index: 0; */
    z-index: -10;
    overflow: hidden;
    pointer-events: none;
  }
  :host {
  position: fixed;
  inset: 0;
  z-index: -10;      
  pointer-events: none;
}

