
<!-- FOR REAL MODEL -->



<!--
 <app-flashcard2
  *ngIf="currentItem"
  [title]="currentItem.title"
  [about]="currentItem.about"
  [price]="currentItem.price"
  [link]="currentItem.link"
  [url]="currentItem.url"
  (next)="nextItem()"
  (prev)="prevItem()"
  (swipeRight)="nextItem()"
  (swipeLeft)="prevItem()">
</app-flashcard2> -->


 <!-- ------------------------------------------------------------------ -->
 <!-- ------------------------------------------------------------------ -->
 <!-- ------------------------------------------------------------------ -->
 <!-- ------------------------------------------------------------------ -->
 <!-- ------------------------------------------------------------------ -->
 <!-- ------------------------------------------------------------------ -->
 <!-- ------------------------------------------------------------------ -->
 <!-- ------------------------------------------------------------------ -->
 <!-- ------------------------------------------------------------------ -->
 <!-- ------------------------------------------------------------------ -->
 <!-- ------------------------------------------------------------------ -->
 <!-- ------------------------------------------------------------------ -->
 <!-- ------------------------------------------------------------------ -->
 <!-- ------------------------------------------------------------------ -->

<!-- FOR FRONTEND ONLY -->
 <!-- ------------------------------------------------------------------ -->
 <!-- ------------------------------------------------------------------ -->
 <!-- ------------------------------------------------------------------ -->
 <!-- ------------------------------------------------------------------ -->
 <!-- ------------------------------------------------------------------ -->
 <!-- ------------------------------------------------------------------ -->
 <!-- ------------------------------------------------------------------ -->
 <!-- ------------------------------------------------------------------ -->
 <!-- ------------------------------------------------------------------ -->
 <!-- ------------------------------------------------------------------ -->
 <!-- ------------------------------------------------------------------ -->
 <!-- ------------------------------------------------------------------ -->
 <app-flashcard2
  *ngIf="currentItem"
  [title]="currentItem.title"
  [about]="currentItem.about"
  [price]="currentItem.price"
  [link]="currentItem.link"
  [url]="currentItem.url"
  (next)="nextItem()"
  (prev)="prevItem()">
</app-flashcard2>
